.featured-image-preview {
  img { 
    padding-top: 0vh; 
  }
}

img {
  max-height: 720px; // adjust as needed
  height: auto;
  &.lazyload, &.lazyloading {
    @include object-fit(scale-down);
  }

  &.lazyloaded {
    @include object-fit(contain);
  }
  // padding-top: 2vh;
  // padding-bottom: vh;
}

