---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Import skin and main partials
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

@media (max-width: 80em) {
    #main {
        max-width: calc(100vw - 10vw);
    }
    .masthead__inner-wrap{
        max-width: calc(100vw - 10vw);
    }
}

// Author styling
.author__avatar {
    width: 80px;
    height: 80px;

    @media (min-width: 64em) {
        display: block;
        width: auto;
        height: auto;
    }
}

// Sidebar styling
@media (min-width: 64em) {
    .sidebar {
        float: inline-start;
        width: calc(200px - 1em);
        opacity: 0.75;
        transition: opacity 0.2s ease-in-out;

        &.sticky {
            overflow-y: auto;
            max-height: calc(100vh - 4em);
        }
    }
}

@media (max-width: 64em) {
    .sidebar {
        display: inline-flex;
        align-self: auto;
    
        > * {
            display: inline-flex;
            align-items: center;
        }
    }
}

// Archive styling
.archive__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 80em) {
    .archive__item {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 0;
        .archive__item-thumbnail {
            flex: 0 0 20%;
        }
    }
}

.archive__item-thumbnail {
    flex: 0 0 300px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 30px;
    }
}

.archive__item-title {
    margin-top: 20px;

    a {
        font-weight: bold;
        text-decoration: none;    
        &:hover {
            text-decoration: underline;
        }
    }
}


